.main-div{
    display: flex;
    flex-direction: row;
    position: absolute;
    top:0;
    left:0;
    width:auto;
    min-height: 100%;
    min-width: 100%;
    height: auto;
}

.main-div-div{
    display: flex;
    flex-direction: column;
    width: 100%;

    min-width: 600px;
    
}

.drawer-div{
    display: flex;
    flex-direction: column;
    background-color: white;
    display: flex;
    width: 15%;
    min-width: 200px;
}

.drawer-logo{
    display: flex;
    background-color: white;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.drawer-button{
    height: 60px;
    width: 100%;
    margin: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-color: lightgray;
    background-color: white;
}

.drawer-button:hover{
    background-color: gray;
}

.drawer-title{
    color:#3874CB;
}


.form-label{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-control{
    height: 25px;
}

.contain-div{
    display: flex;
    background-color: white;
    min-height: 400px;
    flex-direction: column;
    padding: 10px;
}

.containd-div-table{
    margin-top: 20px;
}
.main-div-url{
    background-color: lightgray;
    padding: 20px;
    height: 100%;
}

.discrete-button{
    background-color: transparent;
    border: 0;
}

/* boottrap modifying */
.form-label{
    text-align: left;
}

.navbar-toggler{
    border: 0;
}


.mydropdown{
    background-color: white;
    position: absolute;
    top:55px
}